.typeahead {
	position: relative;
	display: inline-block;
}

.typeahead__list {
	position: absolute;
	background-color: whitesmoke;
	border: solid 1px rgb(208, 202, 202);
	left: 0;
	top: 0;
	list-style: none;
	padding: 0;
	width: 100%;
	max-height: 100px;
	overflow: auto;
}

.typeahead__item:hover {
	background: rgb(230, 230, 230);
}

.typeahead__input {
	width: 200px;
}

.typeahead__list--hidden {
	display: none;
}